main {
  padding: 4em;
  background-color: rgb(236, 236, 236);
} 

/*PAGE LOADER START*/

.loaderWrapper {position:block;
  background-color: rgb(236, 236, 236);
  width: 100%;
 height: 40%;
 display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

#loader {  z-index: 1;
  margin: 2em;
  width: 80px;
  height: 80px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #b3e8ef;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 /*Page appearing after load*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 0.5s;
}


@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
/*PAGE LOADER END*/

h1 {
  text-align: center;
  margin-bottom: 5rem;
}

h3 {
  margin-top: 1rem;
}
h4 {
  margin-bottom: 2em;
  padding: 0;
}

.hidden {
  display: none;
}
.colours {
  font-weight: 300;
  font-size: 0.9rem;
}
.productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
}

/* COLOR PICKER*/
.colorpicker {
  display: flex;
  margin-left: 20px;
}
.colorpicker > * {
  width: 1.5em;
  height: 1.5em;
  border-radius: 7.5em;
  margin: 1em 1em 1em 0em;
}


/*ARTICLE*/
article {
  background-color: #b3e8ef;
}

.detailItem {
  margin: 20px;
}

img {
  max-width: 100%;
}

/*BUTTON SHOP*/

button {
  float: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.add-button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: black;
  padding: 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition-duration: 0.4s;
  margin-top: em;
}

.add-button span {
  padding-left: 1em;
  padding-right: 1em;
}

.shop-button {
  background-color: black;
  border: none;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition-duration: 0.4s;
  margin-top: em;
}

.shop-button:hover {
  background-color: #e3ff36;
  border: solid 1px#e3ff36;
  color: black;
}
