@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

p {
  font-size: 1em;
  /* text-align: justify; */
  line-height: 1.6em;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 16px;
  font-size: 4em;
  color: black;
}

.top-left {
  position: absolute;
  text-align: left;
  top: 8px;
  left: 16px;
  font-size: 12em;
  color: black;
}

.top {
  padding: 50px;
  text-align: left;
  display: flex;
  grid-gap: 5em;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
}

#bagpic {
  padding: 20px;
}
.text {
  width: 800px;
}

.image {
  flex-basis: 40%;
}
.careSteps {
  padding: 4em;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  padding-bottom: 10em;
  background-color: #fafafa;
}
.tipgrid {
  display: grid;
  grid-template-columns: 1fr;
}
.tiprow {
  padding-left: 10%;
  padding-right: 50%;
  padding-top: 8em;
  display: flex;
  grid-column-gap: 8em;
}
.tips {
  display: block;
  grid-area: text;
}
.number {
  grid-area: num;
}
.tiprow2 {
  padding-right: 10%;
  padding-left: 48%;
  padding-top: 8em;
  display: flex;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8em;
}
